<!-- types of buttons and colors on Angular
<h1>Hello world</h1>
<button mat-button color="basic"> mat</button>
<button mat-raised-button color="primary"> raised</button>

<button mat-flat-button color="accent"> falt</button>
<button mat-stroked-button color="warn"> stroked</button>
<button mat-icon-button color="disabled"> icon</button>
<button mat-fab color="link"> fab</button>
<button mat-mini-fab> mini fab</button> -->


<!-- command line code to create component in angular is "ng g c nameOfComponent"     here you can give any custom name of component-->
<h1>Hello world</h1> 
<app-assignments></app-assignments> <!--referencing to assignments.component.html -->

